[Unit]
Description=HuskyBot, a Discord Chat Bot
After=network.target

[Service]
WorkingDirectory=/usr/share/huskybot
PrivateUsers=true
User=huskybot
Group=huskybot
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ReadWritePaths=/usr/share/huskybot

EnvironmentFile=/usr/share/huskybot/.env
Environment=HUSKYBOT_PLATFORM=systemd

ExecStart=/usr/share/huskybot/HuskyBot.py --daemon

Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
