# Ignore python's incessence to generate files
*.py[cod]
__pycache__/

# Prevent leaking things
config/*.json
*.db
*.log
logs/

# Prevent IntelliJ from polluting everything
idea/*
.idea
*.iml

# Used for guild CTF challenges
ctf
