# Ignore python's incessant need to generate files
*.py[cod]
__pycache__/

# Prevent leaking things
config/*.json
*.db
*.log
logs/

# Prevent IntelliJ from polluting everything
idea/*
.idea
*.iml

# Used for guild CTF challenges
ctf

# Don't accidentally upload the keys used by HuskyBot's deploy.
keys/
id_rsa*
.ssh/

# Don't load environment-specific things
.env
plugins/custom
custom_plugins
venv