# Ignore python's incessant need to generate files
*.py[cod]
__pycache__/

# Prevent leaking sensitive information/data about the bot to Git by accident
config/*.json
*.db
*.log
logs/

# PyCharm/IntelliJ configurations shouldn't be part of the repo, either
idea/*
.idea
*.iml

# Prevent the CTF file from being exposed to git, or making git complain
ctf

# Protect the bot's release/license keys.
keys/
id_rsa*
.ssh/

# The environment doesn't need to be exposed to Git, either
.env
plugins/custom
custom_plugins
venv