# Discord library
discord.py[voice]~=1.7.0

# Database-related
tortoise-orm[asyncpg]~=0.17.1

# Redis
redis~=3.5.3
# rq~=1.3.0

# Third-Party Processing
# Pillow~=6.2

# Webserver and operations
# pyjwt~=1.7.1

# Shared deps between discord.py and bot (careful!)
aiohttp~=3.6.2
cryptography~=2.9.2